@media screen and (min-width: 992px){
    main .container{
        max-width: 992px;
        width: 100%;
        margin: 0 auto;
    }

    main h2{
        font-size: 2.3em;
    }

    main ul.info-recipe{
        display: inline-block;
    }

    main ul.info-recipe li{
        width: 100%;
    }

    main .d-flex{
        display: flex;
    }

    main img{
        width: 70%;
        flex-grow: 1;
    }

    main .box-recipe{
        width: 30%;
    }

    main .icons{
        display: inline;
    }

    main #advice-banner{
        width: 100%;
    }
    

    main .meal-story{
        margin-bottom: 2.5rem;
       }
       


    footer .contact-box{
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

   
}