@media screen and (min-width: 768px) {

    header #title-recipe {
        text-align: left;
        padding: 0 25px;
    }


    main .container {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        padding: 0 60px;
    }

    main h3{
        font-size: 1em;
    }

    main h2 {
        font-size: 1.8em;
    }

    main span {
        display: inline;
    }

    main ul.info-recipe{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    main ul.info-recipe li{
        flex-shrink: 0;
        width: calc((100% - 4rem) / 3);
    }

    main .icons{
        display: none;
    }

    main ul.icon-list{
        gap: 0.5rem;
    }

    main ul.icon-list li{
        width: calc((100% - 2.5rem) / 5);
    }

    main #advice-banner{
        display: inline;
        margin-bottom: 2.5rem;
    }

    main #tiramisu-slice{
        max-width: 40%;
        padding: 0;
        margin-right: 0.5rem;
        float: left;  
    }


   main .meal-story{
    margin-bottom: 2rem;
   }
   
   

}