@media screen and (min-width: 768px){
    
    header #title-recipe{
        text-align: left;
        padding: 0 25px;
      }
    
    main .container{
        max-width: 768px;
        width: 100%;
    }
    
     main span{
        display: inline;
    }

    main ul{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    main li{
        flex-shrink: 0;
        width: calc((100% - 4rem) / 3);
    }

}