/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}

/* body */


body{
    background-color:#f6f5f3;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* header */

header {
    font-family: "Nerko One", cursive;
    font-optical-sizing: auto;
    background-color: #ffffff;
}

 header #title-recipe{
    color: #ff9614;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 0px 1px #a5a2a2;
    text-transform: uppercase;
}

/* /header */


/* main */

main .container{
    max-width: 425px;
    width: 100%;
    padding: 0 25px;
}

main .name-dessert{
    margin: 1.2rem 0;
}

main h3{
    text-transform: uppercase;
    font-size: 0.5em;
    color: #999999;
    margin-bottom: 1rem;
}

main h2{
    font-weight: 800;
    font-size: 1.5em;
    color: #4e3969;
}

main span{
    display: none;
}

main .box-recipe{
    background-color: #ffffff;
    box-shadow: 0px 2px 10px #a5a2a2;
    padding: 2rem 1rem;
}

main ul{
    list-style-type: none;
}

main .box-recipe span{
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 2.5rem;
    font-weight: 700;
}
 main ul.info-recipe li{
    margin-bottom: 0.5rem;
    font-size: 1em;
 }

 main ul.icon-list{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
 }

 main .fa-facebook{
    color: #1a77f3;
 }

 main .fa-twitter{
    color: #009eff;
 }

 main .fa-instagram{
    color: #dc3d78;
 }

 main .fa-pinterest{
    color: #e62222;
 }

 main .fa-youtube{
    color: #e62222;
 }

 main .icon-list li{
    padding: 0.5em 0.5em;
    border-radius: 1.5em;
    box-shadow: 0px 1px 5px #a5a2a2;
    display: flex;
    justify-content: center;
    gap: 0.2rem;
 }
